<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common">
	<insert id="insert" useGeneratedKeys="true" parameterType="map" keyProperty="seq_val">
    	<selectKey resultType="long" keyProperty="seq_val" order="BEFORE">
			SELECT IFNULL(MAX(seq_val), 0) + 1 FROM tb_seq_member
		</selectKey>
		/* [commonMapper.xml] common.insert, 190130 dire */
		INSERT INTO tb_seq_member
		(
			seq_val
		)
		VALUES
		(
			#{seq_val}
		)
	</insert>

	<insert id="insertTokenInfo" useGeneratedKeys="true" parameterType="map" keyProperty="seq_val">
    	<selectKey resultType="long" keyProperty="seq_val" order="BEFORE">
			SELECT IFNULL(MAX(seq_val), 0) + 1 FROM tb_seq_token_info
		</selectKey>
		/* [commonMapper.xml] common.insertTokenInfo, 190130 dire */
		INSERT INTO tb_seq_token_info
		(
			seq_val
		)
		VALUES
		(
			#{seq_val}
		)
	</insert>

	<select id="selectAccessIp" resultType="string">
		SELECT	/* [commonMapper.xml] common.selectAccessIp, 190514 dire */
			ip
		FROM
			access_ip
		WHERE
			use_yn = 'Y'
	</select>
</mapper>