<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="LOGS_PATH" value="/logs" />
	<property name="LOG_FILESIZE" value="100MB" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%logger{36}] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_PATH}/logback.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_PATH}/logback.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

			<!-- file days limit -->
			<maxHistory>30</maxHistory>
			<!-- file size -->
			<maxFileSize>${LOG_FILESIZE}</maxFileSize>
			<!-- total file size -->
			<totalSizeCap>**</totalSizeCap>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework"	level="DEBUG"/>
	<logger name="com.hdac"				level="DEBUG"/>

	<root level="DEBUG">
		<appender-ref ref="STDOUT"/>
	 	<appender-ref ref="FILE"/>
	</root>
</configuration>